<p>
  home works! {{ callback }}
</p>

<app-compo1 [title]="title_home" (sayhi)="func_change_callback($event)">
</app-compo1>


<div class="button-row">
  <button (click)="open_dialog()" md-raised-button color="accent">Dialog</button>
</div>

<br>

<md-grid-list cols="4" rowHeight="100px">
  <md-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </md-grid-tile>
</md-grid-list>

<br>
<br>

<a routerLink="/page1">page1</a>
